extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Adnan Lakhani

        p.lead.text-light
          | Full Stack JavaScript Developer

        
        .portfolio-bio
          p
            | My first attempt at web development came when I graduate from Full Sail University with a computer animation degree in 2010. I decided to make my own portfolio site to showcase my skills. The rest, as they say, is history. Curiosity got the best of me and I was slowly overcome with the desire to learn more and more about web development. Over the years I went on teach myself front end developemnt, learning about HTML &amp; CSS, then HTML5 &amp; CSS3, Sass, Flexbox, Bootstrap, &amp; CSS grid. After gaining confidence with my front end abilities I still felt I was lacking something. That's when I embarked on a journey to learn Full Stack JavaScript Development so that I can take my skillset to the next level!    
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

       
        ul
          li HTML 5
          li CSS3
          li SCSS
          li Bootstrap
          li Flexbox
          li CSS Grid
          li Node.js
          li NPM
          li AJAX
          li EXpress
          li Public APIs
        h6 Contact Info

        ul
          li 832-607-6555
          li adnan@lakhaniproductions.com

        a.button.expanded(href='https://www.linkedin.com/in/adnanlakhani/') LinkedIn
        a.button.expanded(href='https://github.com/LakhaniProductions') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  