extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
    
      h1 Full Stack JavaScript Development Portfolio

      p.lead.text-light
        | A series of projects that display my proficiency with various skills and technologies in Full Stack JavaScript Development. These projects utilize the fundamentals of Javascript as well as more advanced topics like AJAX, API consumption, Node.js, NPM, Express and templating with PUG.   
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name
          

      
